body,
form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 10px;
}

label {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

button,
input {
  margin: 0.25rem 0;
}
